@import 'base';
@import 'modules/list';

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    body {
        background: $color__gray--light;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.icon {
    transform: translate(0px, 2px);
}

.user {
    z-index: 1;
    margin: 3rem auto;

    .user__card {
        width: 100%;
        background: #fff;
        border-radius: .8em;
        box-shadow: $shadow__gray;

        .user__image {
            position: static;
            width: 100%;
            height: $user-card__height;
            object-fit: cover;
            border-radius: .8em .8em 0 0;

        }
        .user__card__info {
            margin: 1em 1em 1em 1em;
        }
        .user__name {
            text-transform: capitalize;
            margin-bottom: 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid $color__gray--light;
        }
        .user__location {
            text-transform: capitalize;
        }
    }
}

.evaluation {
    margin: 1rem auto;
    .evaluation__button {
        float: left;
        margin: 0.5rem;
        width: 4rem;
        height: 4rem;
    
        outline: none;
        border: none;
        border-radius: 50%;
        background: #fff;
        box-shadow: $shadow__gray;
    
        transition: 0.2s ease-in-out;
    
        &:hover {
            transform: scale(1.08);
        }
        &:active {
            transition: 0.1s;
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
    .evaluation__button--like {
        background: $gradient__green;
    }
    .evaluation__button--dislike {
        background: $gradient__pink;
    }
    .icon__evaluation__button--like {
        color: #fff;
    }
    .icon__evaluation__button--dislike {
        color: #fff;
    }
    .icon__evaluation__button--map {
        color: $color__gray;
    }
    .icon__evaluation__button--return {
        color: $color__gray;

    }
}

#map__user-map {
    width: 100%;
    height: $user-card__height
}

.map__user-map {
    display: none;
}


.display__user-map {
}

.evaluation-display__button {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #fff;
    box-shadow: $shadow__gray;
    transition: 0.2s ease-in-out;
    
    &:hover {
        transform: scale(1.08);
    }
    &:active {
        transition: 0.1s;
        transform: scale(1.2);
        opacity: 0.5;
    }
}

.evaluation-display__button__like {
    float: right;
    color: $color__green;
}

.evaluation-display__button__dislike {
    color: $color__pink;
}

.evaluation-display {

    position: absolute;
    width: 100%;
    .evaluation-display__list {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        height: $user-card__height;
    }

    .evaluation-display__list--dislikes {
        transform: translateX(-15em);
        width: 20vw;
        background: #fff;
        box-shadow: $shadow__gray;
        text-align: center;
        border-radius: 0 1em 1em 0;
        &.is-open {
            transition: .5s;
            transform: none;
        }
    }

    .evaluation-display__list--likes {
        transform: translateX(15em);
        width: 20vw;
        background: #fff;
        box-shadow: $shadow__gray;
        text-align: center;
        border-radius: 1em 0 0 1em;
        &.is-open {
            transition: .5s;
            transform: none;
        }
    }
}